.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 2px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.bigpic {
  background-image:url('../images/stp_greatwall.jpg');
  height:627px;
  width:1225px;
  background-repeat:no-repeat;
  margin-right: auto;
  margin-left: auto;
}

.bigpic .container {
 top:2px;
}

.bigpic h1 {
  color: #FF8C00;
  background-color: #8FBC8F;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  opacity: 0.95;
  text-align: center;
}

.bigpic h2 {
  color: #FF8C00;
  font-family: 'Shift', sans-serif;
  font-size: 22px;
  background-color: #5a5a5a;
  opacity: 0.95;
  text-align: center;
}

.bigpic h3 {
  font-size: 22px;
  font-family: 'Shift', sans-serif;
  color: #fff;
  background-color: #5a5a5a;
  opacity: 0.95;
  text-align: center;
}

.image-wrapper {
    position:relative;
}
.image-wrapper p {
    position: absolute;
    left: 10px;
    top: 250px;
}

.someinfo {
  background-color: #f7f7f7;
}

.someinfo h3 {
  color: #000066;
  font-family: 'Shift', sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.someinfo a {
  color: #00b0ff;
}

.smallpics {
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.smallpics h2 {
  color: #393c3d;
  font-size: 24px;
}

.smallpics p {
  font-size: 15px;
  margin-bottom: 13px;
}

.stp-teaching-research h2 {
  margin-top: 10px;
}
.stp-teaching-research .thumbnail {
  margin: none;
  padding: none;
  border: none;
  background-color: transparent;
  position: relative;
}
.stp-teaching-research .thumbnail {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.stp-teaching-research .thumbnail h4 {
  font-family: Shift, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 29px;
  color: #fff;
  text-shadow: 0 1px 8px rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
}
.stp-text-grid {
    padding-top: 0px;
    padding-bottom: 0px;
}
.stp-text-name {
    color: #FF8200;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
