<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
    
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="http://tiny.cc/ung_bio1107">Biology 1107K</a></li>
          <li><a href="http://tiny.cc/ung_math2400">Math 2400 (Statistics)</a></li>
        </ul>
        <ul class="pull-right">
          <li><a href="#">Research</a></li>
          <li><a href="#">Programming</a></li>
          <li><a href="#">CV</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Tom Purucker</h1>
        <p>Adjunct instructor of biology and statistics.</p>
        <a href="http://www.ung.edu">University of North Georgia</a>
      </div>
    </div> 

<div class="neighborhood-guides">
<div class="container">
<h2>Applied Research</h2>
<p>I am a research ecologist at an EPA research lab in Athens, Georgia. I work with other biologists, chemists, engineers, statisticians, and programmers conducting applied research on environmental exposures and effects of pesticides.
</p>
  <div class="row">
    <div class="col-md-4">

          <div class="thumbnail">
               <img src="http://upload.wikimedia.org/wikipedia/commons/d/d0/Northern_Leopard_Frog_Ontario_1.JPG">
               
        <div class="thumbnail">
               <img src="http://www.pgeconomics.co.uk/images/img8.jpg">
          </div>
          </div>
      </div>

    <div class="col-md-4">
        <div class="thumbnail">
               <img src="http://www.worldeducationcenter8.com/resources/uploads/images/4-New-Reasons-to-Avoid-Pesticides.jpg">
          </div>
          <div class="thumbnail">
               <img src="http://www.bayoucityoutdoors.com/clubportal/images/clubimages/3/EventDisplay/bco_bats(1).jpg">
          </div>
      </div>

          <div class="col-md-4">
          
                  <div class="thumbnail">
               <img src="http://static.guim.co.uk/sys-images/Environment/Pix/pictures/2008/05/23/honeycomb-reso-rex460.jpg">
          </div>
        <div class="thumbnail">
               <img src="http://westernfarmpress.com/site-files/westernfarmpress.com/files/imagecache/large_img/uploads/2012/09/vg.jpg">
          </div>


      </div>
    </div>

</div>
</div>

    <div class="learn-more">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
      <h3>Federal law on pesticides</h3>
      <p>The US Congress has passed a number of laws concerning the registration and use of pesticides. The EPA regulates the use of pesticides under these federal statutes. Approved pesticides carry <a href="">product labels</a> that provide information on how to safely handle and use pesticides.</p>
      <p><a href="http://www.epa.gov/pesticides/regulating/laws.htm">Pesticide laws and regulations</a></p>
        </div>
      <div class="col-md-4">
      <h3>Estimating exposure and effects</h3>
      <p>Data about pesticides are submitted to the EPA, <a href="http://www.epa.gov/pesticides/bluebook/chapter2.html">this data</a>, combined with a number of environmental exposure and effect models, are used to determine if a pesticide is to be registered and how their use is restricted. We have reprogrammed a number of these models so they can be run as web applications.</p>
      <p><a href="http://www.ubertool.org">ubertool</a></p>
      </div>
      <div class="col-md-4">
      <h3>Challenging models with data</h3>
      <p>An important part of using models to estimate real-world phenomena is to compare model predictions to observations. We collect data on amphibians and honeybees to test the predictions of pesticide models using both <a href="http://stattrek.com/hypothesis-test/hypothesis-testing.aspx">hypothesis testing</a> and <a href="https://onlinecourses.science.psu.edu/stat414/node/191">likelihood estimation </a> approaches.</p>
      <p><a href="http://en.wikipedia.org/wiki/Scientific_method">Scientific Method</a></p>
      </div>
      </div>
    </div>
  </div>
  </body>
</html>